.movie-card {
  width: 400px;
  height: 600px;
  float: left;
  border: beige solid 2px;
  align-content: center;
  margin: 15px;
}

.movie-header {
  background-size: cover;
}

.mat-card-image {
  width: 300px;
  height: 350px;
  margin-left: 45px;
}

.mat-card-content {
  width: 380px;
}
